:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

input {
  /* background-color: #fff !important; */
}

.flex {
  display: flex;
}

.direction-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pr-10 {
  padding-right: 10px;
}

.underline {
  text-decoration: underline;
}

.text-10 {
  font-size: 10px;
}

.gray {
  color: gray;
}

.high-light {
  color: rgb(255, 80, 83);
}